<h2> List of Favorite Champions </h2>
<% favorites.forEach(favoriteChampion => { %>
    <p>
        <%= favoriteChampion.name %>
    </p>
    <p>
        <%= favoriteChampion.image %>
    </p>
    <br>
<% }) %>