<h2><%= currentUser.name %>'s List of Favorite Champions </h2>
<% favorites.forEach(favoriteChampion => { %>
    <li>
        <%= favoriteChampion.name %>
        <%= favoriteChampion.mainImageUrl %>
    </li>
    <br>
<% }) %>