<p class="text-center">
    <a href="/smash">Favorites</a>
  </p>
<h2>List of Champions:</h2>

<% champions.forEach(champion => { %>
    <div class="well">
        <h2><%= champion.Name %></h2>
        <img<%= champion.ThumbnailUrl %>
        <form method="POST" action="/smash">
            <input hidden type="text" name="Name" value="<%= champion.Name %>">
            <button class="btn btn-primary" type="submit">Add to Favorites!</button>
        </form>
        <form method="POST" action="">
            <button type="submit">Remove</button>
        </form>
    </div>
<% }) %>