body {
    background-color: rgba(254, 199, 252, 1);
    font-family: 'Concert One', cursive;
}

header {
    text-align: center;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 33px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 19px;
}

.movename {
    font-size: 25px;
}

.faveslist {
    text-align: center;
}

.signup, .login {
    text-align: center;
}

.signupdiv, .logindiv {
    text-align: center;
}

.btn-primary {
    background-color:#6895fd!important;
}

.well {
    width: 350px;
    text-align: center;
}